html,
body {
    margin: 0;
    height: 100%;
}

}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.locationOverlay {
    position: absolute;
    z-index: 2;
    color: white;
    top: 10%;
    left: 10%;
    font-family: "Oxanium";
    font-weight: 600;
    font-size: 5vmin;
}