html,
body {
    margin: 0;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

a:link {
    color: #126C15;
}

a:visited {
    color: #0D5010;
}

a:hover {
    color: #199A1E;
}

a:active {
    color: white;
}

.container {
    position: absolute;
    background: transparent;
}

.panel {
    position: relative;
    z-index: 2;
    background-color: #0d2643;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: "Oxanium";
    font-weight: 400;
    overflow: auto;
}

/* TODO: Convert to consistent container structure.... */
.locationOverlay {
    position: absolute;
    z-index: 2;
    color: white;
    top: 10%;
    left: 10%;
    font-family: "Oxanium";
    font-weight: 600;
    font-size: 5vmin;
}

.instructionsBox {
    top: 10%;
    left: 35%;
    right: 35%;
    /* TODO: Cap the bottom nicely somehow without tons of empty space */
    /* bottom: 80%; */
}

.descriptionBox {
    top: 20%;
    bottom: 20%;
    left: 60%;
    right: 5%;
}

.instructions {
    font-size: 1em;
    opacity: 0;
}

.description {
    font-size: 1.5em;
    opacity: 0;
}

.instructions p,
.description p {
    margin-inline: 5% 5%;
}

.unclickable {
    pointer-events: none;
}

.showVertical {
    animation: opacityOn 0.1s forwards, expandVertical 2s forwards;
}

.hideVertical {
    animation: opacityOff 1s 1s backwards, closeVertical 1s forwards;
}

.showHorizontal {
    animation: opacityOn 0.1s 1s forwards, expandHorizontal 2s 1s forwards;
}

.hideHorizontal {
    animation: opacityOff 1s 1s backwards, closeHorizontal 1s forwards;
}


@keyframes opacityOn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.7;
    }
}

@keyframes opacityOff {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

@keyframes expandVertical {
    0% {
        /* top-left, top-right, bottom-right, bottom-left */
        clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
    }

    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes closeVertical {
    0% {
        /* top-left, top-right, bottom-right, bottom-left */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
    }
}

@keyframes expandHorizontal {
    0% {
        /* top-left, top-right, bottom-right, bottom-left */
        clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    }

    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes closeHorizontal {
    0% {
        /* top-left, top-right, bottom-right, bottom-left */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    }

    100% {
        clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    }
}